@model ssdcw.Models.ViewModels.EditTicketVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Change status</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="TicketStatus" class="control-label"></label>
                <select asp-for="TicketStatus" asp-items="Html.GetEnumSelectList<Ticket.Status>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="TicketStatus" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
